/** Custom properties **/
* {
    margin: 0;
}
:root {
    --primario: #ffffff;
    --secundario: #353535;
    --terciario: #d9d9d9;
    --cuaternario: #3c6e71;
    --quinto: #284b63;
}

/** Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor {
    width: 95%;
    /* max-width: 120rem; */
    margin: 0 auto;
}

input {
    width: 100%;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


.bg-primario {
    background-color: var(--primario);
}

.bg-secundario {
    background-color: var(--secundario);
}

.bg-terciario {
    background-color: var(--terciario);
}

.bg-cuaternario {
    background-color: var(--cuaternario);
}
.bg-quinto {
    background-color: var(--quinto);
}

/* Botones */

.btn {
    font-size: 2rem;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-check {
    color: green;
}

.btn-editar {
    color: yellow;
}

.btn-borrar {
    color: red;
}

.volver {
    background-color: var(--cuaternario);
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
}

/* logos */
.logos {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .barra .logos,
    .barra-inicio .logos {
        margin: 0;
    }
}

@media (min-width: 992px) {
    .barra-inicio-sesion .logos {
        margin: 0;
    }
}

/* Formulario */

form {
    padding: 3rem;
    margin-top: 2rem;
}

form legend {
    /* font-family: var(--fuenteSecundaria); */
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
}

.campo input[type="text"],
.campo input[type="date"],
.campo input[type="email"],
.campo input[type="password"] {
    width: 100%;
    border: none;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}

.campo input[type="submit"] {
    background-color: var(--cuaternario);
    border: none;
    color: white;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background-color .5s ease-in-out;
    flex: 1;
}

.campo input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--quinto);
}

@media (min-width: 768px) {
    .campo input[type="submit"] {
        flex: 0 0 auto;
    }
}

/* barra */

.barra,
.barra-inicio,
.barra-inicio-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

@media (min-width: 768px) {
    .barra,
    .barra-inicio {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .barra-inicio-sesion {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* barra index */

.login {
    width: 100%;
}

.caja-login,
.opciones-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-login {
    margin-top: 1rem;
}

.caja-login .campo {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .opciones-login {
        flex-direction: row;
    }

    .opciones-login .campo:first-child {
        margin-right: 1.5rem;
    }
}

@media (min-width: 992px) {
    .caja-login {
        flex-direction: row;
    }

    .caja-login .campo {
        margin-right: 1.5rem;
    }
    .caja-login .campo:last-of-type {
        margin-right: 0rem;
    }

    .caja-login,
    .opciones-login {
        justify-content: end;
    }
}

/* main */
.contenedor-main {
    padding: 2rem 0rem;
}

.contenedor-main .contenedor {
    width: 85%;
    margin: 2rem auto;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

.sombra {
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

/* main index */

.contenido h3,
.contenido h1 {
    text-align: center;
}


/* Contenido inicio */

.contenedor-proyectos {
    margin: 0 auto;
}

.total-proyectos {
    text-align: center;
}

table {
    width: 100%;
    margin-top: 1rem;
}

.listado-proyectos {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}


/* Contenido Progreso */

.entregas,
.procesos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .entregas,
    .procesos {
        flex-direction: row;
    }
}


/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
    }
}

.footer div {
    margin: 0 auto;
}

.contenedor-footer {
    padding: 2rem 0rem;
}