/** Custom properties **/

:root {
    --primario: #ffffff;
    --secundario: #353535;
    --terciario: #d9d9d9;
    --cuaternario: #3c6e71;
    --quinto: #284b63;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor {
    width: 95%;
    /* max-width: 120rem; */
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


.bg-primario {
    background-color: var(--primario);
}

.bg-secundario {
    background-color: var(--secundario);
}

.bg-terciario {
    background-color: var(--terciario);
}

.bg-cuaternario {
    background-color: var(--cuaternario);
}
.bg-quinto {
    background-color: var(--quinto);
}


/* Botones */

.btn {
    font-size: 2rem;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-check {
    color: green;
}

.btn-editar {
    color: yellow;
}

.btn-borrar {
    color: red;
}


/*Barra login */

.barra,
.login,
.caja-login,
.opciones-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .barra,
    .caja-login,
    .opciones-login {
        flex-direction: row;
    }
    .barra {
        justify-content: space-between;
    }
}


/* Contenido Login */

.contenido,
.caja-progreso,
.campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .campo {
        flex-direction: row;
    }
}

.contenido h3,
.contenido h1 {
    text-align: center;
}


/* Contenido Proyectos */

.contenedor-proyectos {
    margin: 0 auto;
}

.total-proyectos {
    text-align: center;
}

table {
    width: 100%;
    margin-top: 1rem;
}

.listado-proyectos {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}


/* Contenido Progreso */

.entregas,
.procesos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .entregas,
    .procesos {
        flex-direction: row;
    }
}


/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
    }
}

.footer div {
    margin: 0 auto;
}